.roboto_font {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

.vertical_navigation ul{
    list-style: none;
    margin: 0;
    padding-inline-start: 20px;
}

.personal-sec {
    margin: 32px 0;
}
.slider-section .carousel-item {
    background-color: #191919;
    height: 438px;
    border-radius: 12px;
    color: #ffffff;
}

.slider-section .carousel-item .caption p
{
 width:80%;
 font-size: 20px;
 margin: 1rem auto;
 width: 47%;
 font-size: 21px;
 margin: 1rem auto;
 text-align: center;
}
.calender-sec, .related-site {
   
    border: 1px solid #C7C7C7;
    border-radius: 16px;
    padding: 32px;
    margin-top: 32px;
}
.adio-apps, .it-training-sec, .top-community-picks {
    border: solid 1px #C7C7C7;
    border-radius: 12px;
    padding: 32px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.app-sec {
    height: 136px;
    background: var(--appsec-bg);
    border-radius: 16px;
    box-shadow: 0px 1px 5px #0000001f;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}
.app-sec h4 {
    font-family: "Roboto", sans-serif;
    color: var(--toppicks-txt);
    font-size: 24px;
    font-weight: 300;
}
.default-title {
    font-size: 28px;
    color: var(--color-border);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.explore-more-btn {
    font-family: "Roboto", sans-serif;
    text-align: right;
    display: block;
    text-decoration: none;
    font-size: 22px;
    text-transform: capitalize;
    color: var(--view-all-btn);
    font-weight: 300;
}
.first-row {
    margin-bottom: 56px;
}

.borderedBox
{
    border: solid 1px #C7C7C7;
    border-radius: 12px;
    padding: 32px;
    margin:32px auto;
}

.topCommunityPicks .pick-item
{

    background: var(--toppicks-bg);
    color: var(--toppicks-txt);
    border-radius: 16px;
    box-shadow: 0px 1px 5px #0000001f;
    padding: 20px;
    margin-bottom: 20px;
}

.topCommunityPicks .pick-item .date .icon-container
{
    padding: 7px 4px 2px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 50%;
    margin-inline-end: 10px;
}
.topCommunityPicks .pick-item .date 
{
    color: var(--toppicks-date);
    font-size: 12px;
    font-weight: 500;
}

.topCommunityPicks .pick-item h3
{
 font-size: 16px;
 margin: 2rem 0;
 font-weight: bold;
}

.grayTXT{
    color: #9F9F9F;
}
.attachment-container
{
 border-bottom: 1px solid var(--likes-container);
 margin-bottom: 1rem;
 padding-bottom: 1rem;
 font-size: 14px;
 font-weight: 500;
}

.likes-container
{
    color: var(--likes-container);
    font-size: 14px;
    font-weight: 500;
}

.likes-container i
{
 color: #ffc83d;
 font-size: 12px;
}

footer .mainLogo
{
 width: 350px;
 max-width: 100%;
}

footer .social-links-list
{
    list-style: none;
    margin: 0px;
}

.inline-list
{
    display: inline-block;
}

.social-links-list img
{
    width:40px;
    margin: 0px 5px;
}

.carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 52%;
    border: 2px solid #ffffff;
    background: transparent;
}
.carousel-indicators .active {
    opacity: 1;
    background-color: #ffffff;
    padding: 0px;
}

.related-site p
{
    line-height: 35px;
    font-size: 20px;
    color: #282828;
    font-weight: 400;
    width: 80%;
}

.btn-lined
{
    border: 1px solid var(--color-border);
    color: var(--color-border) !important;
    padding: 10px 40px;
    margin-top: 2rem;
}

.btn-lined:hover
{
    background-color: var(--color-border);
    color: #ffffff !important;
}


/*body{
    background-color: #fbfbfb;
}*/

/* Header and Navigation
==========================*/

.vertical_navigation{
    border-inline-end: 1px solid #DDDDDD;
    background-color: var(--sidemenu-bg);
    height: 100%;
    margin-inline-start: -15px;
    padding-top: 21px;
    z-index: 10;
}



.fa-search {
    top: 12px;
    left: 25px;
    border-radius: 8px;
    border-color: #464646;
    color: #464646;
}

.search-input {
    border-color: #777777;
}
#toggle-theme, #notifications{
  background-color: #F4F4F4;
  padding: 14px;
  border-radius: 5px;
  border: none;
}
#toggle-theme i, #notifications i{
 color: #464646;
 font-size: 23px;
}
#toggle-theme {
    padding: 7px 15px;
}
a#notifications {
    padding: 11px 15px;
}
a#notifications::after {
    display: none;
}
#userImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    overflow: hidden;
}
.form-select
{
    border-color: #777777;
}
#userImg img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.main_content{
    padding: 20px;
}


/* Light & Dark toggle
========================*/

[data-theme="light"] {
    --color-bg: #fbfbfb;
    --color-fg: darkgray;
    --color-border: #A57737;
    --view-all-btn: #2196F3;
    --toppicks-txt: black;
    --toppicks-bg: #FBFBFB;
    --toppicks-date: #464646;
    --sidemenu-bg: #fbfbfb;
    --appsec-bg: #fbfbfb;
    --likes-container: #464646;
 }
 
 [data-theme="dark"] {
    --color-bg: darkgray;
    --color-fg: #fbfbfb;
    --color-border: blue;
    --view-all-btn: green;
    --toppicks-txt: yellow;
    --toppicks-bg: purple;
    --toppicks-date: red;
    --sidemenu-bg: #ddd;
    --appsec-bg: #333;
    --likes-container: yellow;
 }
 
 body {
   background-color: var(--color-bg);
   color: var(--color-fg);
   display: grid;
   min-height: 100vh;
   place-items: center;
 }
 
 
/* Latest news Slider
========================*/

.last-news {
    display: block;
    border: solid 1px #C7C7C7;
    border-radius: 12px;
    padding: 16px;
    background-color: var(--appsec-bg);
}

.news-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news-item img {
    width: 34%;
    border-radius: 8px;
}

.news-txt {
    width: 65%;
    vertical-align: top;
    padding: 24px;
}

.news-head {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
}

.news-left-txt {
    font-size: 28px;
    color: var(--color-border);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.news-right-txt a {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-size: 22px;
    text-transform: capitalize;
    color: var(--view-all-btn);
    font-weight: 300;
}

.news-title {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 45px;
    color: var(--toppicks-txt);
    margin-bottom: 12px;
    width: 75%;
}

p.news-date {
    color: #777777;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;
}

/* Hide default top-aligned Bootstrap positioning */
.last-news .carousel-control-prev,
.last-news .carousel-control-next {
    position: static; 
    width: auto;
    margin: 0 8px;
    opacity: 1;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

/* Container to center the arrows below */
.last-news .carousel-controls-wrapper {
    position: absolute;
    bottom: 16px;
    left: 36%;
}

/* adjust size or appearance */
.last-news .carousel-control-prev-icon,
.last-news .carousel-control-next-icon {
    background-color: #DDDDDD;
    border-radius: 6px;
    padding: 12px;
}


/*===========Vertical Menu==============*/

.vertical_navigation .mainMenu li a
{
 display: flex;
 align-items: center;
 text-decoration: none;
 color: #000000;
 font-size: 18px;


}
 .vertical_navigation .mainMenu a:hover
 {
 font-weight: bold;
 }

.vertical_navigation .mainMenu  ul.dropdown
{
 display: none;
 transition: all 0.5s;
 border-inline-start: 1px solid #727272;
 margin-inline-start: 45px;
}

.vertical_navigation .mainMenu  ul.dropdown li a
{
 font-size: 16px;
 padding: 15px 10px;
}

.vertical_navigation .mainMenu .nav-item
{
  padding: 3px 15px;
  white-space: nowrap;
  display: block;
}

.vertical_navigation .mainMenu li:hover  ul.dropdown
{
  display: block;
}


@media (min-width: 768px) 
{
    .vertical_navigation{
       position: fixed;
       width:100px;
       overflow: hidden;
       transition: all 0.5s;
       cursor: pointer;

    }
    .vertical_navigation:hover{
       
       width:250px;   

    }
}


/*==============Arabic Style================*/
/*==========================================*/

[lang="ar"] .form-select {
  background-position: left .75rem center;
}

[lang="ar"] .explore-more-btn
{
    text-align: left;
}

[lang="ar"] .last-news .carousel-control-prev,[lang="ar"] .last-news .carousel-control-next {
  transform: scaleX(-1);
}

@media (max-width: 768px) {
    .vertical_navigation ul 
     {
        list-style: none;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer .mainLogo
    {
        margin-bottom: 20px;
    }

    .vertical_navigation ul  img {
        width: 55px;
    }
    .search-input {
        margin-bottom: 18px;
    }

    .col-md-1
    {
        padding:0;
    }

    .col-sm-3
    {
        margin-bottom: 20px;
    }
    .vertical_navigation .mainMenu .nav-item
    {
        display: none;
    }

}



